<div class="m-grid__item m-grid__item--fluid m-wrapper">

        <!-- BEGIN: Subheader -->
        <div class="m-subheader ">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="m-subheader__title ">My Profile</h3>
                </div>
            </div>
        </div>

        <!-- END: Subheader -->
        <div class="m-content" >
            <div class="row">
                <div class="col-xl-3 col-lg-4">
                    <div class="m-portlet m-portlet--full-height  ">
                        <div class="m-portlet__body">
                            <div class="m-card-profile">
                                <div class="m-card-profile__title m--hide">
                                    Your Profile
                                </div>
                                 <div class="file-upload">
                                <div class="m-card-profile__pic">
                                    <div class="m-card-profile__pic-wrapper">
                                        <img id="blah" src="assets/img/user/{{image}}" alt="your image" width="100" height="100" />
                                    </div>
                                </div>
                                <input type="file" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])" accept="image/x-png,image/gif,image/jpeg" file-model="myFile" style="width:100%">
                            </div>
                                <div class="m-card-profile__details">
                                    <span class="m-card-profile__name">{{user.Prenom}} {{user.Nom}}</span>
                                    <a href="" class="m-card-profile__email m-link">{{user.Email}}</a>
                                </div>
                            </div>
                            <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
                                <li class="m-nav__separator m-nav__separator--fit"></li>
                              
                              
                             
                            </ul>
                            
                    
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8">
                    <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-tools">
                                <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                                    <li class="nav-item m-tabs__item">
                                        <a class="nav-link m-tabs__link active" data-toggle="tab" href="./Profile" role="tab">
                                            <i class="flaticon-share m--hide"></i>
                                            Update Profile
                                        </a>
                                    </li>
                                </ul>
                            </div>
                          
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="m_user_profile_tab_1">
                                <form class="m-form m-form--fit m-form--label-align-right">
                                    <div class="m-portlet__body">
                                        <div class="form-group m-form__group m--margin-top-10 m--hide">
                                            <div class="alert m-alert m-alert--default" role="alert">
                                                The example form below demonstrates common HTML form elements that receive updated styles from Bootstrap with additional classes.
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <div class="col-10 ml-auto">
                                                <h3 class="m-form__section">1. Personal Details</h3>
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <label for="example-text-input" class="col-2 col-form-label">Nom</label>
                                            <div class="col-7">
                                                <input class="form-control m-input" type="text"  placeholder="Nom" ng-model="user.Nom">
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <label for="example-text-input" class="col-2 col-form-label">Prenom</label>
                                            <div class="col-7">
                                                <input class="form-control m-input" type="text" placeholder="Prenom" ng-model="user.Prenom">
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <label for="example-text-input" class="col-2 col-form-label">Adresse</label>
                                            <div class="col-7">
                                                <input class="form-control m-input" type="text" placeholder="Adresse" ng-model="user.Adresse">
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group row">
                                            <label for="example-text-input" class="col-2 col-form-label">Tel .</label>
                                            <div class="col-7">
                                                <input class="form-control m-input" type="text" placeholder="Tel" ng-model="user.Tel">
                                            </div>
                                        </div>

                                        <div class="form-group m-form__group row">
                                            <label for="example-text-input" class="col-2 col-form-label">Email</label>
                                            <div class="col-7">
                                                <input class="form-control m-input" type="text" placeholder="Email" ng-model="user.Email">
                                            </div>
                                        </div>
                                    
                                        <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label">MDP</label>
                                                <div class="col-7">
                                                    <input class="form-control m-input" type="password" placeholder="Email" ng-model="user.MDP">
                                                </div>
                                            </div>
                                      
                                    <div class="m-portlet__foot m-portlet__foot--fit">
                                        <div class="m-form__actions">
                                            <div class="row">
                                                <div class="col-2">
                                                </div>
                                                <div class="col-7">
                                                    <button type="reset" class="btn btn-accent m-btn m-btn--air m-btn--custom" ng-click="Modifier()">Enregistrer Modification</button>&nbsp;&nbsp;
                                                    <button type="reset" class="btn btn-secondary m-btn m-btn--air m-btn--custom">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane " id="m_user_profile_tab_2">
                            </div>
                            <div class="tab-pane " id="m_user_profile_tab_3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>










    